scipy
numpy
tensorflow
flask
gunicorn
flask_cors
keras-bert==0.81.0
keras-embed-sim==0.7.0
keras-layer-normalization==0.14.0
keras-multi-head==0.22.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.0
keras-rl==0.4.2
keras-self-attention==0.41.0
keras-transformer==0.32.0
Keras==2.3.1
Keras-Applications==1.0.8
Flask==1.1.1
Flask-AppBuilder==3.3.4
Flask-Babel==0.12.2
Flask-Caching==1.8.0
Flask-Compress==1.4.0
Flask-Cors==3.0.8
Flask-Jsonpify==1.5.0
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-Migrate==2.5.2
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.1
flask-talisman==0.7.0
Flask-WTF==0.14.2